name: end_to_end_tests
on: pull_request
jobs:
  end-to-end:
    name: End-to-end Tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      # the arb files aren't under source control, generate them
      - name: Generate arb files
        run: dart run arb_generator
      - name: Install packages
        run: flutter pub get
      - name: macOS
        run: |
          flutter config --enable-macos-desktop
          echo $FIREBASE_IOSMACOS | base64 --decode > macos/Runner/GoogleService-Info.plist
          flutter test integration_test -d macos
        env:
          FIREBASE_IOSMACOS: ${{ secrets.FIREBASE_IOSMACOS }}
      - name: Setup iOS
        uses: futureware-tech/simulator-action@v1
        id: setup_ios
        with:
          # https://github.com/futureware-tech/simulator-action/wiki/Devices-macos-latest
          model: iPhone 12
          os_version: 14.4
          shutdown_after_job: false
      - name: iOS
        run: |
          echo $FIREBASE_IOSMACOS | base64 --decode > ios/Runner/GoogleService-Info.plist
          flutter test integration_test -d C76E8E62-3C4C-40AB-AEBE-8025835391B1
          xcrun simctl shutdown all
        env:
          FIREBASE_IOSMACOS: ${{ secrets.FIREBASE_IOSMACOS }}
      - name: Android
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          disable-animations: false
          script: |
            echo $FIREBASE_ANDROID | base64 --decode > android/app/google-services.json
            flutter test integration_test
        env:
          FIREBASE_ANDROID: ${{ secrets.FIREBASE_ANDROID }}
      - uses: nanasess/setup-chromedriver@v1.0.5
      - name: Web
        run: |
          echo $FIREBASE_WEB | base64 --decode > web/firebase-config.js
          chromedriver --port=4444 & flutter drive --driver=test_driver/integration_test.dart --target=integration_test/my_app_test.dart -d web-server
        env:
          FIREBASE_WEB: ${{ secrets.FIREBASE_WEB }}
